{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/c3.css' %}">
</head>
<body>
    <center>
        <h1>Welcome to 3rd page!!!</h1>
        <h2>I'm Goku I'm here to welcome you</h2>
        <img src="{% static 'images/goku.png' %}"><br>
        <a href="{% url 'secondapp:second' %}">Click here to navigate to previous page</a><br>
        <a href="{% url 'firstapp:first' %}">Click here to navigate to home page</a>

    </center>
</body>
</html>